@model AddFilmViewModel

@using (Html.BeginForm("AddFilm","Films",FormMethod.Post,new{enctype ="multipart/form-data"}))
{
    <div class="form-group">
        @Html.LabelFor(m=> m.Film.Title,"Tytuł filmu:")
        @Html.TextBoxFor(m => m.Film.Title,new{@class = "form-control", @required = true})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Film.Director,"Reżyser:")
        @Html.TextBoxFor(m => m.Film.Director,new{@class = "form-control", @required = true})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Film.Desc,"Opis:")
        @Html.TextBoxFor(m => m.Film.Desc,new{@class = "form-control", @required = true})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Film.Price,"Cena:")
        @Html.TextBoxFor(m => m.Film.Price,new{@class = "form-control", @required = true})
    </div>
    <div>
        @foreach (var category in Model.Categories)
        {
            @Html.RadioButtonFor(m=> m.Film.CategoryId,category.CategoryId,new {@class = "from-check-input"}) @category.Name
            <br/>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(m=> m.Poster,"Wybierz plakat:")
        @Html.TextBoxFor(m => m.Poster,new{@type = "file", @class = "form-control-file", @required = true})
    </div>

    <button type="submit" class="btn btn-primary btn-dodaj">Dodaj nowy film</button>
}