@model Film
@(await Component.InvokeAsync("CategoryFilms", new { categoryName = Model.Category.Name }))
<h1 class="category-name">@Model.Category.Name</h1>
@using (Html.BeginForm("EditFilm", "Films", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(f => f.FilmId)
    @Html.HiddenFor(f => f.Poster)
    @Html.HiddenFor(f => f.CategoryId)
    @Html.HiddenFor(f => f.AddDate)

    <table class="details-table">
        <tr>
            <td>
                <img class="posters" src="~/obrazki/@Model.Poster" />
            </td>
            <td>
                <p>
                    <b>Tytuł:</b>
                    @Html.EditorFor(f => f.Title, new {@class = "form-control"})

                </p>
                <p>
                    <b>Reżycer:</b>
                    @Html.EditorFor(f => f.Director, new {@class = "form-control"})
                </p>
                <p>
                    <b>Opis:</b>
                    @Html.EditorFor(f => f.Desc, new {@class = "form-control"})
                </p>
                <p>
                    <b>Cena:</b>
                    @Html.EditorFor(f => f.Price, new {@class = "form-control"})
                </p>
            </td>
        </tr>
    </table>
    <button class="btn btn-success">Zapisz</button>
}
