@model IEnumerable<Category>

<ul class="nav navbar-nav">
	@foreach (var category in Model)
	{
		<li>
			<a href="@Url.Action("FilmsList", "Films", new { categoryName = category.Name })"> @category.Name </a>
		</li>

	}
</ul>

<ul class="nav navbar-nav navbar-right">
	<li><a href="@Url.Action("Index","Cart")"><span class="glyphicon glyphicon-shopping-cart"></span>(@ViewBag.Quantity)</a></li>
	@if (User.Identity.IsAuthenticated)
	{
		<li><a href="@Url.Action("Logout","Account")"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	}
	else
	{
		<li><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		<li><a href="@Url.Action("Register","Account")"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
	}
</ul>